@media screen and (min-width: 995px){
  .navbarMobileBox{
    display: none;
  }
  .headerAllPage{
    display: none;
  }
}
@media screen and (max-width: 995px){
  .topMarginForPage{
    margin: 50px 0;
  }
  .navbarDesktop{
    display: none;
  }
  .secondColHomePageD-none{
    display: none;
  }
  .dnForSliderStoryBtn{
    display: none !important;
  }
  .inboxTopMarginForPageZero{
    margin: 0;
  }
  .inboxFullHeight{
    height: 100vh;
  }
  .inbox{
    grid: auto / 1fr;
    .verticalLineInbox{
      display: none;
    }
    &_secondInboxColumn{
      display: none;
    }
  }
  .activity{
    margin: 50px 0;
  }
}
@media screen and (max-width: 575px){
  .colAndContainerForMobile{
    padding: 0;
    margin: 0;
  }
  .postBox_postedContent{
    height: 500px !important;
  }
}